<div class="table-responsive-xl">
  <div *ngFor="let torneo of torneos; let i = index">
    <h2>Torneo {{ i + 1 }}</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">POSICIÓN</th>
          <th scope="col">EQUIPO</th>
          <th scope="col">PUNTAJE</th>
          <th scope="col">PJ</th>
          <th scope="col">PG</th>
          <th scope="col">PP</th>
          <th scope="col">PTS FAVOR</th>
          <th scope="col">PTS CONTRA</th>
          <th scope="col">+/-</th>
        </tr>
      </thead>

      <tbody *ngFor="let equipo of torneo.equipos">
        <tr>
          <th scope="row">{{equipo.posicionEquipo}}</th>
          <td>{{equipo.nombreEquipo}}</td>
          <td>{{equipo.puntajeEquipo}}</td>
          <td>{{equipo.partidosJugados}}</td>
          <td>{{equipo.partidosGanados}}</td>
          <td>{{equipo.partidosPerdidos}}</td>
          <td>{{equipo.puntosFavor}}</td>
          <td>{{equipo.puntosContra}}</td>
          <td>{{equipo.masMenosTorneo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>