<section class="vh-100">
    <div class="container h-custom">
        <div class="row d-flex h-100">
                <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xxl-2">
                        <div class="col mb-10">
                            <div class="divider d-flex align-items-center my-4">
                                <p class="text-center fw-bold mx-3 mb-0">Crear un equipo</p>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control form-control-lg"
                                    placeholder="Ejemplo: linares colleges" formControlName="nombreEquipo"/>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label">Descripción</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Descripción equipo" formControlName="descripcionEquipo"/>
                            </div>

                            <div class="form-outline mb-3">
                                <label class="form-label">Categoría Equipo</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Categoría equipo" formControlName="categoriaEquipo"/>
                            </div>
                        </div>

                        <div class="col mb-10"> 
                            <br><br><br>
                            <div class="form-outline mb-3">
                                <label class="form-label">Rut Equipo</label>
                                <input type="text" name="rutEquipo" id="rutEquipo" class="form-control form-control-lg" placeholder="Rut: 17601290-0" formControlName="rutEquipo"/>
                            </div>
                            
                            <div class="form-outline mb-3">
                                <label class="form-label">Representante Equipo</label>
                                <input type="text" name="" class="form-control form-control-lg" placeholder="Representante" formControlName="representanteEquipo"/>
                            </div>
                            
                            <div class="form-outline mb-3">
                                <label class="form-label">Imagen</label>
                                    <input type="file" name="" class="form-control form-control-lg" placeholder="Logo empresa" (change)="onFileSelected($event)" />
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" [disabled]="!teamForm.valid" class="btn btn-primary btn-lg">Crear</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>