
  <!-- Sidebar navigation -->
  <div class="container-fluid justify-content-center align-items-center min-vh-100">

      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Perfil Usuario</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="usuario">
            <div class="col-md-12">
              <div class="media">
                <img class="align-self-start mr-5 img-thumbnail rounded-circle img-fluid" src="{{(usuario.photoURL) ? usuario.photoURL : '/assets/img/logo_ligadelinares.jpg'}}"
                >
                <div class="media-body">
                  <p>UID usuario: <strong>{{usuario.uid}}</strong></p>
                  <p>Correo usuario: <strong>{{usuario.email}}</strong></p>
                  <p>Nombre usuario: <strong>{{usuario.nombreUsuario}}</strong></p>
                  <p>Tipo usuario: <strong>{{usuario.tipoUsuario}}</strong></p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

  </div>