<div class="displayTable d-flex justify-content-center align-items-center min-vh-100">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Registrarme</h3>
      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Correo"
          #userEmail
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPwd
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Crear Cuenta"
          (click)="authService.signUp(userEmail.value, userPwd.value)"
        />
      </div>
    <div class="redirectToLogin">
      <span
        >¿Ya tienes una cuenta?
        <span class="redirect" routerLink="/signin-usuario">Ingresar</span></span
      >
    </div>
  </div>
</div>