<div class="container">
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-2">
        <a routerLink="/admin-noticias-crear" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_equipos.jpg" alt="">
        <div class="item-meta">
            <h2>Redactar</h2>
            <p>Nueva noticia</p>
        </div></a>
        
        <a routerLink="/admin-noticias-editar" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_partidos.jpg" alt="">
        <div class="item-meta">
            <h2>Editar</h2>
            <p>Noticia</p>
        </div></a>
    </div>
</section>
</div>
