<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_equipos.jpg" alt="">
        
        <div class="item-meta">
            <h2>EQUIPOS</h2>
            <p>Packaging</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_partidos.jpg" alt="">
        
        <div class="item-meta">
            <h2>PARTIDOS</h2>
            <p>Branding</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_tabla.jpg" alt="">
        
        <div class="item-meta">
            <h2>TABLA POSICIONES</h2>
            <p>Graphic Design</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_noticias.jpg" alt="">
        
        <div class="item-meta">
            <h2>NOTICIAS</h2>
            <p>Graphic Design</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_tabla.jpg" alt="">
        
        <div class="item-meta">
            <h2>GALERÍA</h2>
            <p>Packaging</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_tabla.jpg" alt="">
        
        <div class="item-meta">
            <h2>CONTACTO</h2>
            <p>Branding</p>
        </div></a>

        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_tabla.jpg" alt="">
        <div class="item-meta">
            <h2>Waistcoat ugh</h2>
            <p>UI/UX</p>
        </div></a>

        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_tabla.jpg" alt="">
        <div class="item-meta">
            <h2>Waistcoat ugh</h2>
            <p>UI/UX</p>
        </div></a>            
        
    </div>
</section>