<div class="card-group">
  <div class="card border" *ngFor="let equipo of equipos">
    <img class="card-img-top" src="assets/img/logo_linarescolleges.png" alt="Card image cap">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ equipo.nombreEquipo }}</h5>
      <p class="card-text">{{ equipo.descripcionEquipo }}</p>
      <a [routerLink]="['/usuario-equipo', equipo.id]" class="btn btn-primary mt-auto">Ver equipo</a>
    </div>
  </div>
</div>


<!--
<div class="card-group">
    <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_colleges.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Linares Colleges</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content</p>
        <a href="#" class="btn btn-primary">Ver equipo</a>
      </div>
    </div>
    <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_provincial.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Provincial Linares</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ver equipo</a>
      </div>
    </div>
    <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_snakes.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Longaví Snakes</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ver equipo</a>
      </div>
    </div>
    <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_colbun.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Colbún Machikura</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Ver equipo</a>        </div>
      </div>
      <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_husares.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Húsares de Cauquenes</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Ver equipo</a>        </div>
      </div>
  </div>
  <div class="card-group">
    <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_colleges.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Ver equipo</a>      </div>
    </div>
    <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_provincial.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ver equipo</a>      </div>
    </div>
    <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_snakes.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a href="#" class="btn btn-primary">Ver equipo</a>      </div>
    </div>
    <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_colbun.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <a href="#" class="btn btn-primary">Ver equipo</a>        </div>
      </div>
      <div class="card border">
        <img class="card-img-top" src="assets/img/equipo_husares.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <a href="#" class="btn btn-primary">Ver equipo</a>        </div>
      </div>
  </div>
-->