<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 g-3">
    <div class="col mx-auto" *ngIf="noticias">
      <div class="card" >
        <img [src]="noticias.imgNoticia" class="card-img-top w-100" style="max-height: 300px;" alt="card-grid-image">
        <div class="card-body">
          <h5 class="card-title">{{ noticias.tituloNoticia }}</h5>
          <p class="card-text">{{ noticias.descripcionNoticia }}</p>
          <p class="card-text">{{ noticias.autorNoticia }}</p>
          <p class="card-text">{{ noticias.fechaNoticia | date: 'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

