<div class="table-responsive-xl">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">POSICIÓN</th>
          <th scope="col">EQUIPO</th>
          <th scope="col">PUNTAJE</th>
          <th scope="col">PJ</th>
          <th scope="col">PG</th>
          <th scope="col">PP</th>
          <th scope="col">PTS FAVOR</th>
          <th scope="col">PTS CONTRA</th>
          <th scope="col">+/-</th>
          <th scope="col">Heading</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
      </tbody>
    </table>
  </div>