<section class="vh-100">
    <div class="container h-custom">
        <div class="row d-flex h-100">
                <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xxl-2">
                    <div class="col">
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-4 mb-0">Editar partido</p>
                    </div>

                    <div class="row mb-3">
                        <label for="equipoLocal" class="col-sm-12 col-md-2 col-form-label">Equipo local</label>
                        <div class="col-sm-12 col-md-10">
                          <input type="text" class="form-control form-control-lg" formControlName="equipoLocal"/>
                        </div>
                    </div>
                      
                    <div class="row mb-3">
                        <label for="equipoVisita" class="col-sm-12 col-md-2 col-form-label">Equipo visita</label>
                          <div class="col-sm-12 col-md-10">
                              <input type="text" class="form-control form-control-lg"
                              formControlName="equipoVisita"/>
                          </div>
                    </div>

                    <div class="row mb-3">
                        <label for="resultadoPartido" class="col-sm-12 col-md-2 col-form-label">Resultado</label>
                          <div class="col-sm-12 col-md-10">
                              <input type="text" class="form-control form-control-lg"
                               formControlName="resultadoPartido"/>
                          </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mvpPartido" class="col-sm-12 col-md-2 col-form-label">Mejor jugador</label>
                          <div class="col-sm-12 col-md-10">
                              <input type="text" class="form-control form-control-lg"
                              formControlName="mvpPartido"/>
                          </div>
                    </div>

                    <div class="row mb-3">
                        <label for="goleadorPartido" class="col-sm-12 col-md-2 col-form-label">Máximo anotador</label>
                          <div class="col-sm-12 col-md-10">
                              <input type="text" class="form-control form-control-lg"
                              formControlName="goleadorPartido"/>
                          </div>
                    </div>

                    
                </div>

                <div class="col">
<br>
                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0"></p>
                </div>

                <div class="row mb-3">
                    <label for="fechaPartido" class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" class="form-control form-control-lg" formControlName="fechaPartido"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="arbitrosPartido" class="col-sm-12 col-md-2 col-form-label">Árbitros</label>
                      <div class="col-sm-12 col-md-10">
                          <input type="text" class="form-control form-control-lg"
                          formControlName="arbitrosPartido"/>
                      </div>
                </div>

                <div class="row mb-3">
                    <label for="mesaPartido" class="col-sm-12 col-md-2 col-form-label">Mesa control</label>
                      <div class="col-sm-12 col-md-10">
                          <input type="text" class="form-control form-control-lg"
                          formControlName="mesaPartido"/>
                      </div>
                </div>

                <div class="row mb-3">
                    <label for="uidPartido" class="col-sm-12 col-md-2 col-form-label">UID Torneo</label>
                      <div class="col-sm-12 col-md-10">
                          <input type="text" class="form-control form-control-lg"
                          formControlName="uidPartido"/>
                      </div>
                </div>
<!--
                    <div class="row mb-3">
                        <label for="tituloNoticia" class="col-sm-2 col-form-label">Imagen</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="file" id="formFile" formControlName="imgNoticia">
                          </div>
                    </div>
-->
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" [disabled]="!teamForm.valid" class="btn btn-primary btn-lg">Editar</button>
                </div>
            </div>
        </div>
                </form>
                <button (click)="eliminarPartido()" class="btn btn-danger btn-lg">Eliminar</button>
            </div>
        </div>
</section>