<div class="table-responsive-xl" >

    <table class="table">
      <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Equipo Local</th>
            <th scope="col">Resultado</th>
            <th scope="col">Equipo Visita</th>
            <th scope="col">Mejor jugador</th>
            <th scope="col">Máximo anotador</th>
            <th scope="col">Árbitros</th>
            <th scope="col">Mesa control</th>
        </tr>
      </thead>


      <tbody *ngFor="let partido of partidos">
        <tr>
          <th scope="row">{{partido.fechaPartido | date:'dd/MM/yyyy - HH:mm'}}</th>
          <td class="text-center">{{partido.equipoLocal}}</td>
          <td class="text-center">{{partido.resultadoPartido}}</td>
          <td class="text-center">{{partido.equipoVisita}}</td>
          <td>{{partido.mvpPartido}}</td>
          <td>{{partido.goleadorPartido}}</td>
          <td>{{partido.arbitrosPartido}}</td>
          <td>{{partido.mesaPartido}}</td>
        </tr>
      </tbody>



    </table>
  </div>