<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo"><a routerLink="inicio-admin">LIGA BASQUETBOL DE LINARES</a></h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item" routerLinkActive="active"><a routerLink="equipos" class="rk-menu__link">Equipos</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active"><a routerLink="portfolio.html" class="rk-menu__link">Partidos</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active"><a routerLink="blog.html" class="rk-menu__link">Tabla posiciones</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active"><a routerLink="noticias" class="rk-menu__link">Noticias</a>
            <nav class="rk-menu__sub">
              <ul class="rk-container">
                <li class="rk-menu__item"><a routerLink="about.html" class="rk-menu__link">About</a></li>
                <li class="rk-menu__item"><a routerLink="documentation.html" class="rk-menu__link">Documentation</a></li>
                <li class="rk-menu__item"><a routerLink="design-styles.html" class="rk-menu__link">Design Styles</a></li>
              </ul>
            </nav>
          </li>
          <li class="rk-menu__item"><a routerLink="contact.html" class="rk-menu__link">Contacto</a>
          </li>
          <div *ngIf="authService.isLoggedIn">
            <li class="rk-menu__item rk-menu__button">
              <button type="click" (click)="viewProfile()" class="btn btn-primary btn-lg">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#4586f7}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>            </button>
              <button type="click" (click)="authService.signOut()" class="btn btn-primary btn-lg">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#4488fd}</style><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
              </button>
              <button *ngIf="authService.isAdmindIn || authService.isAuthor" type="click" routerLink="admin" class="btn btn-primary btn-lg">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M296 32h192c13.255 0 24 10.745 24 24v160c0 13.255-10.745 24-24 24H296c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24zm-80 0H24C10.745 32 0 42.745 0 56v160c0 13.255 10.745 24 24 24h192c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24zM0 296v160c0 13.255 10.745 24 24 24h192c13.255 0 24-10.745 24-24V296c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm296 184h192c13.255 0 24-10.745 24-24V296c0-13.255-10.745-24-24-24H296c-13.255 0-24 10.745-24 24v160c0 13.255 10.745 24 24 24z"/></svg>              </button>
            </li>
          </div>
        </ul>
        
        <!-- <form class="rk-search" *ngIf="authService.isAdmindIn">
          <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </form> -->
        
      </nav>
    </div>
  </header>