<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-2">
        <a routerLink="/admin-equipos" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_equipos.jpg" alt="">
        <div class="item-meta">
            <h2>EQUIPOS</h2>
            <p>Edición</p>
        </div></a>
        
        <a routerLink="/admin-noticias" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_partidos.jpg" alt="">
        <div class="item-meta">
            <h2>Noticias</h2>
            <p>Edición</p>
        </div></a>
    </div>
</section>
