<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-3">
        <a routerLink="/admin-equipos" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_equipos.jpg" class="img-fluid" alt="">
            <p>Equipos</p>
        <div class="item-meta">
            <h2>EQUIPOS</h2>
            <p>Crear o editar</p>
        </div></a>
        
        <a routerLink="/admin-noticias" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_partidos.jpg" class="img-fluid" alt="">
            <p>Noticias</p>
        <div class="item-meta">
            <h2>Noticias</h2>
            <p>Crear o editar</p>
        </div></a>

        <a routerLink="/admin-partidos" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_partidos.jpg" class="img-fluid" alt="">
            <p>Partidos</p>
        <div class="item-meta">
            <h2>Partidos</h2>
            <p>Crear o editar</p>
        </div></a>

        <a routerLink="/admin-tablaposiciones" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_partidos.jpg" class="img-fluid" alt="">
            <p>Tabla posiciones</p>
        <div class="item-meta">
            <h2>Tabla Posiciones</h2>
            <p>Crear o editar</p>
        </div></a>

        <a routerLink="/admin-auspiciadores" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_partidos.jpg" class="img-fluid" alt="">
            <p>Auspiciadores</p>
        <div class="item-meta">
            <h2>Auspiciadores</h2>
            <p>Crear o editar</p>
        </div></a>
    </div>
</section>
