
<div class="card-group">
  <div class="card border" *ngFor="let noticia of noticias">
    <img class="card-img-top" src="assets/img/equipo_colbun.png" alt="Card image cap">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ noticia.tituloNoticia }}</h5>
      <p class="card-text text-truncate">{{ noticia.descripcionNoticia }}</p>
      <p class="card-text">{{ noticia.autorNoticia }}</p>
      <p class="card-text">{{ noticia.fechaNoticia | date: 'dd/MM/yyyy' }}</p>
      <a [routerLink]="['/admin-noticia-editar', noticia.id]" class="btn btn-primary mt-auto">Editar noticia</a>
    </div>
  </div>
</div>
