<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Iniciar sesión</h3>
        <div class="formGroup">
          <input
            type="text"
            class="formControl"
            placeholder="Username"
            #correoUsuario
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #contrasenaUsuario
            required
          />
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Ingresar"
            (click)="authService.signIn(correoUsuario.value, contrasenaUsuario.value)"
          /> 
        </div>

        <div class="forgotPassword">
          <span routerLink="/restaurar-contrasena">Recuperar contraseña</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Don't have an account?<span
            class="redirect"
            routerLink="/signup-usuario"
          >
            Sign Up</span
          ></span
        >
      </div>
    </div>
  </div>