<div class="displayTable d-flex justify-content-center align-items-center min-vh-100">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Iniciar sesión</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Username"
          #userName
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPassword
          required
        />
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Ingresar"
          (click)="authService.signIn(userName.value, userPassword.value)"
        />
      </div>
      <div class="forgotPassword">
        <span>¿Olvidaste tu contraseña?</span>
        <input type="button" class="btn" value="Recuperar" routerLink="/restaurar-contrasena">
      </div>
    </div>
    <div class="redirectToLogin">
      <span
        >¿No tienes una cuenta?
        <input type="button" class="btn" value="Registrarme" routerLink="/signup-usuario">
        </span
      >
    </div>
  </div>
</div>