<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Restaurar tu contraseña</h3>
        <p>Ingresa tu dirección de correo electrónico para recibir un link de restauración.</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Correo" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Enviar" (click)="authService.forgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin">
        <span>¿Ya tienes cuenta?<span class="redirect" routerLink="/signin-usuario">Iniciar sesión</span></span>
      </div>
    </div>
  </div>