<section class="vh-100">
    <div class="container h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Redactar noticia</p>
                    </div>

                    <div class="row mb-3">
                        <label for="tituloNoticia" class="col-sm-2 col-form-label">Titulo</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control form-control-lg"
                              placeholder="EJ: CAMPEÓN LIGA DE LINARES 2023" formControlName="tituloNoticia"/>
                          </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label for="autorNoticia" class="col-sm-2 col-form-label">Autor</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" placeholder="Nombre autor" formControlName="autorNoticia"/>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="descripcionNoticia" class="col-sm-2 col-form-label">Descripcion</label>
                        <div class="col-sm-12">
                            <textarea name="descripcionNoticia" id="descripcionNoticia" cols="80" rows="10" formControlName="descripcionNoticia"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Fecha</label>
                        <div class="col-sm-10">
                            <input type="datetime-local" class="form-control form-control-lg" formControlName="fechaNoticia"/>
                        </div>
                    </div>

                    <div class="row mb-3 form-check form-switch">
                        <div class="col-sm-10">
                            <label class="form-check-label" for="formSwitchCheckChecked">Mostrar noticia</label>
                            <input type="checkbox" checked="" class="form-control form-check-input" placeholder="" formControlName="mostrarNoticia"/>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="tituloNoticia" class="col-sm-2 col-form-label">Imagen</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="file" id="formFile" formControlName="imgNoticia">
                          </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" [disabled]="!teamForm.valid" class="btn btn-primary btn-lg">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>