<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-3">
        <a routerLink="/admin-equipos-crear" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_equipos.jpg" alt="">
            <p>Crear equipo</p>
        <div class="item-meta">
            <h2>EQUIPOS</h2>
            <p>Crear</p>
        </div></a>
        
        <a routerLink="/admin-equipos-editar" class="rk-item ae-masonry__item"><img src="assets/img/inicioadmin_partidos.jpg" alt="">
            <p>Editar equipo</p>
        <div class="item-meta">
            <h2>EQUIPOS</h2>
            <p>Editar</p>
        </div></a>
    </div>
</section>
